{% extends 'base.html' %}

{% block title %}동호회 소개{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="mb-0"><i class="bi bi-info-circle"></i> 동호회 소개</h4>
    </div>
    <div class="card-body">
        <h5>배드민턴 동호회에 오신 것을 환영합니다!</h5>
        <p>저희 동호회는 배드민턴을 사랑하는 사람들이 모여 함께 운동하고 친목을 다지는 커뮤니티입니다.</p>

        <h6 class="mt-4">활동 안내</h6>
        <ul>
            <li>정기 모임: 매주 토요일 오전 10시</li>
            <li>장소: 지역 체육관</li>
            <li>회비: 월 회비제 운영</li>
        </ul>

        <h6 class="mt-4">가입 안내</h6>
        <p>회원 가입 후 관리자 승인을 거쳐 정식 회원이 됩니다.</p>
    </div>
</div>
{% endblock %}
